/* BENEFICIOS */

.wrap_benefits{
    display: grid;
    grid-template-areas: '. benefits_img .'
                        'benefits_benefit1 . benefits_benefit3'
                        'benefits_benefit2 benefits_img2 benefits_img2';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 4rem;
    justify-content: center;
}

.benefits_img{
    grid-area: benefits_img;
    width: 200px;
    height: 160px;
    margin: 0 auto;
}

.benefits_img img{
    width: 100%;
    height: 100%;
}

.benefits_benefit1{
    grid-area: benefits_benefit1;
    font-weight: 400;
    font-size: 1.3rem;
    padding-left: 5rem;
}

.benefits_benefit2{
    grid-area: benefits_benefit2;
    font-weight: 400;
    font-size: 1.3rem;
    padding-left: 5rem;
}

.benefits_benefit3{
    grid-area: benefits_benefit3;
    font-weight: 400;
    font-size: 1.3rem;
    padding-right: 3rem;
}

.benefits_img2{
    grid-area: benefits_img2;
    text-align: right;
    padding-right: 3rem;
}

.benef_title span{
    color: #a0151b;
    font-size: 1.5rem;
}
