 /* FOOTER */

 .footer{
    width: 100%;
    border-top: 1px solid #a0151b;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
}

.footer_logo-info{
    display: flex;
}


.footer_logo{
    width: 180px;
    height: 140px;
}

.footer_logo img{
    width: 100%;
    height: 100%;
}

.footer_info{
    margin-left: 30px;
}

.footer_info p{
    padding-bottom: 5px;
}

.footer_info p a{
    text-decoration: none;
    color: #2f2e41;
    font-weight: 600;
}

.footer_info p a i{
    padding-right: 10px;
}

.fa-envelope,
.fa-phone,
.fa-map-marker{
    font-size: 1.3rem;
}

.fa-facebook-square,
.fa-instagram{
    font-size: 2.5rem;
}

.copyright{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: #2f2e41;
}

.copyright a{
    text-decoration: none;
    color: #1d1d1d;
    cursor: pointer;
    translate: 0.5s;
}

.copyright a:hover{
    font-weight: bold;
    text-decoration: underline;
}
