@import url('./about.css');
@import url('./porfolio.css');
@import url('./services.css');
@import url('./benefits.css');
@import url('./coments.css');
@import url('./form.css');
@import url('./footer.css');

@font-face{
    font-family: 'helvetica-neue';
    src: url('./fonts/helvetica-neue.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

body{
    margin: 0;
    padding: 0;
    color: #1d1d1d;
    background: #fff;
    font-family: 'helvetica-neue', sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 70px 10px;
    margin: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
    -webkit-box-shadow: 0px 4px 5px -2px rgba(148,143,148,1);
    -moz-box-shadow: 0px 4px 5px -2px rgba(148,143,148,1);
    box-shadow: 0px 4px 5px -2px rgba(148,143,148,1);
}

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #a0151ce3;
    line-height: 40px !important;
    text-align: center;
    position: fixed;
    z-index: 14;
    left: 10px;
    top: 10px;
    color: white;
    display: none;
}

.fa.fa-bars{
    display: none;
}

.nav_logo{
    height: 60px;
    width: 80px;
}

.log{
    display: none;
}

header nav .nav_logo img{
    height: 100%;
    width: 100%;
}

header nav .nav_menu{
    display: flex;
    align-items: center;
}

header nav .nav_menu ul{
    list-style: none;
    display: flex;
}

header nav .nav_menu ul li{
    padding: 0 10px;
}

header nav .nav_menu ul li a{
    color: #1d1d1d;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
    transition: 0.5s;
}

header nav .nav_menu ul li:hover a{
    border-bottom: 2px solid #a0151b;
}

header nav .nav_menu .nav_menu-buttons a{
    padding: 0 15px;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: #1d1d1d;
    transition: 0.5s;
}

header nav .nav_menu .nav_menu-buttons a:nth-child(1){
    border: 1px solid #1d1d1d;
    padding: 5px 40px;
    border-radius: 5px;
    margin: 0 5px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.4);
}

header nav .nav_menu .nav_menu-buttons a:nth-child(2){
    border: 1px solid #a0151b;
    color: #fff;
    background: #a0151b;
    padding: 5px 40px;
    border-radius: 5px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.4);
}

header nav .nav_menu .nav_menu-buttons a:nth-child(1):hover{
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}

header nav .nav_menu .nav_menu-buttons a:nth-child(2):hover{
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.swiper-container{
    height: 80vh;
    width:100% !important;
}

.swiper-wrapper{
    width: 100% ;
    height: 100%;
}

.swiper-slide{
    width: 100% !important;
    height: 100%;
    background-repeat: no-repeat ;
    background-size: cover !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
    background-position: bottom !important;
    display: flex;
    justify-content: start;
    align-items: center;
}

.swiper-slide-active{
    width: 100% !important;
}

.hero_content{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    margin-top: 5%;
    margin-left: 100px;
    border-radius: 5px;
    background: rgba(0,0,0,0.4);
}

header .hero_content h1{
    margin: 0;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
}

header .hero_content p{
    color: #fff;
    padding-bottom: 30px;
}

header .hero_content a{
    border: 1px solid #a0151b;
    color: #fff;
    background: #a0151b;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}

header .hero_content a:hover{
    -webkit-text-decoration: underline #fff;
            text-decoration: underline #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.swiper-button-prev,
.swiper-button-next{
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 10px;
}

.container{
    width: 1024px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px){

    .container{
        width: 95%;
        margin: 0 auto;
    }
    /* NAV */
    header nav{
        padding: 10px 50px 10px;
    }

    header nav .nav_menu .nav_menu-buttons a:nth-child(1){
        padding: 5px 35px;
    }

    header nav .nav_menu .nav_menu-buttons a:nth-child(2){
        padding: 5px 35px;
    }

    /* FORMULARIO */
    .form{
        background: #fff;
        height: auto;
        width: 35%;
        border-radius: 5px;
        padding: 1rem;
        margin-left: 50px;
    }

    .form_text{
        margin-top: 0px;
    }

    .form_mail{
        margin-top: 0px;
    }

    .form_phone{
        margin-top: 0px;
    }

    .form_city{
        margin-top: 0px;
    }

    .form_coments{
        margin-top: 0px;
    }

    .button_form{
        margin-top: 0px;
    }

    .form_title{
        margin-bottom: 5px;
    }

    .coments{
        padding: 0 0 40px 0;
    }

    /* FOOTER */

    .footer{
        justify-content: space-around;
    }

    /* PORTFOLIO */
    .catalog_detail-detail a{
        width: 35%
    }
}

@media screen and (max-width: 769px){

    .container{
        width: 95%;
        margin: 0 auto;
    }

    /* NAV */
    .burger-button{
        display: block;
    }

    .fa.fa-bars{
        display: block;
    }

    nav{
        display: block;
        height: auto;
    }

    .nav_menu ul{
        display: flex;
        flex-direction: column;
    }

    .nav_menu ul li{
        height: 50px;
        display: flex;
        flex: auto;
        justify-content: center;
    }

    header nav .nav_menu ul li a{
        height: 40px;
        font-size: 2em;
        color: #fff;
        text-decoration: underline;
        margin-bottom: .5em;
    }

    .nav{
        justify-content: center;
    }

    .nav_menu{
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        background: #a0151ce3;
        z-index: 13;
        top: 0;
        left: -100vw;
        bottom: 0;
        width: 100vw;
        transition: .3s;
    }

    .nav_menu.is-active{
        left: 0;
    }

    .nav_menu-buttons{
        display: none;
    }

    /* HERO */
    header .hero_content h1{
        font-size: 1.5rem;
    }

    header .hero_content p{
        font-size: 0.9rem;
    }

    header .hero_content a{
        font-size: 0.8rem;
    }

    /* BENEFICIOS */
    .wrap_benefits{
        display: grid;
        grid-template-areas: '. benefits_img .'
                            'benefits_benefit1 benefits_benefit2 benefits_benefit3'
                            'benefits_img2 benefits_img2 benefits_img2';
    }

    .benefits_benefit1{
        font-size: 1rem;
        padding-left: 0;
        padding: 5px;
    }

    .benefits_benefit2{
        font-size: 1rem;
        padding-left: 0;
        padding: 5px;
    }

    .benefits_benefit3{
        font-size: 1rem;
        padding-right: 0;
        padding: 5px;
    }

    .benefits_img2{
        text-align: center;
        padding-right: 0;
    }

    /* OPINIONES */
    .coment{
        max-width: 200px;
        padding-right: 10px;
    }

    /* FORMULARIO */
    .contact{
        width: 100%;
        height: auto;
        padding: 20px 0;
    }

    .form{
        width: 45%;
        height: auto;
    }

    /* FOOTER */
    .footer_logo img{
        width: 80%;
        height: 80%;
        margin-top: 10px;
    }

    .footer_info{
        margin-left: 0;
    }

    .footer_info p a{
        font-size: 0.9rem;
    }

    .footer_redes{
        margin-top: 10px;
    }

    /* PORTFOLIO */
    .catalog_detail{
        grid-template-columns: 100%;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: 'img'
                            'detail';
        justify-content: center;
    }

    .catalog_detail-detail h3{
        margin-bottom: 5px;
    }

    .catalog_detail-img{
        width: 100%;
        height: 150px;
    }
}

@media screen and (max-width: 500px){

    .container{
        width: 100%;
        margin: 0 auto;
    }

    /* HERO */
    .swiper-container{
        height: 60vh;
    }

    .hero_content{
        width: 60%;
        margin-top: 0;
        margin-left: 0;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }

    /* SERVICIOS */
    .wrapper_cards{
        grid-template-columns: 1fr;
        grid-template-rows: minmax(50px, auto);
        grid-template-areas: 'title'
                            'card-1'
                            'card-2'
                            'card-3';
    }

    .wrapper_cards-title{
        text-align: center;
    }

    /* BENEFICIOS */
    .wrap_benefits{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 'benefits_img'
                            'benefits_benefit1'
                            'benefits_benefit2'
                            'benefits_benefit3'
                            'benefits_img2';
        justify-content: center;
    }

    .benefits_benefit1{
        font-size: 1rem;
        padding: 5px;
        text-align: center;
        margin-top: 20px;
    }

    .benefits_benefit2{
        font-size: 1rem;
        padding: 5px;
        text-align: center;
        margin-top: 10px;

    }

    .benefits_benefit3{
        font-size: 1rem;
        padding: 5px;
        text-align: center;

    }

    .benefits_img2{
        text-align: center;
        width: 300px;
        margin: 0 auto;
    }

    .benefits_img2 img{
        width: 100%;
    }

    /* OPINIONES */
    .wrapper_coments{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        justify-content: center;
    }

    .coment{
        max-width: 100%;
        padding-right: 0;
        margin: 0 auto;
    }

    /* FORMULARIO */
    .contact{
        background: url('../assets/carga1.png');
        height: auto;
        width: 100%;
        padding: 20px 0;
    }

    .form{
        height: auto;
        width: 75%;
        padding: 40px 20px;
        margin: 0 auto;
    }

    .form-wrap{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: (6, 1fr);
        grid-template-areas: 'nombre'
                            'email'
                            'telefono'
                            'ciudad'
                            'coment'
                            'button';
    }

    .form_text{
        padding-right: 0;
    }

    .form_phone{
        padding-right: 0;
    }

    /* FOOTER */
    .footer_container{
        display: block;
    }

    .footer_logo-info{
        display: block;
        text-align: center;
    }

    .footer_logo{
        margin: 0 auto;
    }

    .footer_redes{
        display: flex;
        justify-content: center;
    }

    .footer_redes a{
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .redes{
        font-size: 4rem !important;
    }

    .copyright{
        display: inline-block;
        text-align: center;
        padding: 5px;
    }

    /* PORTFOLIO */
    .catalog{
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-template-areas: 'catalog_list'
                            'catalog_detail';
    }

    .catalog_list{
        height: fit-content;
    }

    .catalog_list li ul{
        text-align: center;
    }

    .catalog_detail-detail{
        text-align: center;
    }

    .catalog_detail-detail a{
        width: 28%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 425px){
    .catalog_detail-detail a{
        width: 40%;
    }
}