@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    padding: 0;
    color: #1d1d1d;
    font-family: 'Montserrat', sans-serif;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 70px 10px;
    margin: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #fff;
}

header nav .nav_logo{
    height: 60px;
    width: 80px;
}

header nav .nav_logo img{
    height: 100%;
    width: 100%;
}

header nav .nav_menu{
    display: flex;
    align-items: center;
}

header nav .nav_menu ul{
    list-style: none;
    display: flex;
}

header nav .nav_menu ul li{
    padding: 0 10px;
}

header nav .nav_menu ul li a{
    color: #1d1d1d;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
    transition: 0.5s;
}

header nav .nav_menu ul li:hover a{
    border-bottom: 2px solid #a0151b;
}

header nav .nav_menu .nav_menu-buttons a{
    padding: 0 15px;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: #1d1d1d;
    transition: 0.5s;
}

header nav .nav_menu .nav_menu-buttons a:nth-child(1){
    border: 1px solid #1d1d1d;
    padding: 5px 40px;
    border-radius: 5px;
    margin: 0 5px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.8);
}

header nav .nav_menu .nav_menu-buttons a:nth-child(2){
    border: 1px solid #a0151b;
    color: #fff;
    background: #a0151b;
    padding: 5px 40px;
    border-radius: 5px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.8);
}

header nav .nav_menu .nav_menu-buttons a:nth-child(1):hover{
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
}

header nav .nav_menu .nav_menu-buttons a:nth-child(2):hover{
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
}

header .hero{
    background: url('./assets/carga.png');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px;
}

header .hero .hero_content{
    padding-left: 3rem;
    padding-top: 5rem;
}

header .hero .hero_content h1{
    margin: 0;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
}

header .hero .hero_content p{
    color: #fff;
    padding-bottom: 30px;
}

header .hero .hero_content a{
    border: 1px solid #a0151b;
    color: #fff;
    background: #a0151b;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
}

header .hero .hero_content a:hover{
    text-decoration: underline #fff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.wrapper_cards{
    width: 1100px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(100px, auto);
    grid-template-areas: 'title title title'
                        'card-1 card-2 card-3';
    grid-gap: 30px;
}

.wrapper_cards-title{
    grid-area: title;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.cards_services-card-1{
    grid-area: card-1;
    text-align: center;
}
.cards_services-card-2{
    grid-area: card-2;
    text-align: center;
}
.cards_services-card-3{
    grid-area: card-3;
    text-align: center;
}

.wrapper_coments{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.wrapper_coments-title{
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}

.wrapper_coments-title:after{
    content: '';
    position: absolute;
    left: 0 auto;
    bottom: 0;
    width: 10%;
    background: #a0151b;
    height: 5px;
    border-radius: 10px;
}

.coment{
    max-width: 300px;
    text-align: center;
    padding-right: 50px;
}

.coment_wrap-img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: 2px solid #a5a5a5;
    border-radius: 50%;
}

.coment_wrap-img img{
    width: 100%;
    height: 100%;
    border-radius: 150px;
}

.coment_nombre{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5px;
}

.coment-description{
    margin: 5px;
}

.color-quote{
    color: #a0151b;
}

.contact{
    background: url('./assets/carga1.png');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 4rem;
}

.form{
    background: #fff;
    height: 60vh;
    width: 35%;
    border-radius: 5px;
    margin-left: 8rem;
    padding: 1rem;
}

.form_name-mail, .form_phone_city{
    display: flex;
    padding-bottom: 1.5rem;
}

.form_name-mail .form_text{
    padding-right: 1rem ;
}

.form_phone_city .form_phone{
    padding-right: 1rem ;
}